.load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #CCBFB2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .load-more-button:hover {
    background-color: #967F7A;
  }