.post-create-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #cccccc;
  margin-right: 10px;
}

.text-area {
  width: 100%;
  border: none;
  resize: none;
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.tag-input {
  width: 100%;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-label {
  cursor: pointer;
  color: #1da1f2;
}

.image-input {
  display: none;
}

.post-create-character-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  background-color: #CCBFB2;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s all;
}

.submit-button:hover {
  background-color: #967F7A;
}

.character-counter {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.character-counter-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  transform: rotate(-90deg);
}

.character-counter-circle {
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 4;
}

.character-counter-fill-circle {
  fill: none;
  stroke: black;
  stroke-width: 4;
  transition: stroke-dashoffset 0.3s ease;
}

.character-count-text {
  position: relative;
  z-index: 1;
  font-size: 12px;
}
